biopython==1.66
colorama==0.3.7
Django==1.7
django-bootstrap-form==3.2
django-registration-redux==1.4
image==1.4.4
numpy==1.10.4
oauthlib==1.0.3
pbr==1.8.1
Pillow==3.1.1
protobuf==2.6.1
pyserial==3.0.1
python-dateutil==2.5.1
python-openid==2.2.5
pyusb==1.0.0rc1
qrcode==5.2.2
requests==2.9.1
requests-oauthlib==0.6.1
six==1.10.0
stevedore==1.10.0
virtualenv==13.1.2
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
