{% extends 'registration/base.html' %}

{% load bootstrap %}

{% block head_title %}Login{% endblock %}

{% block content %}
  <div class="page-header">
    <h2>Login</h2>
    Don't have an account? <a href="{% url 'registration_register' %}">Create one now.</a>
  </div>

  <div class="row">
    <div class="col-md-6">
      <form class="login" method="POST" action="">
        {% csrf_token %}

        {{ form|bootstrap }}

        <p>
          <a href="{% url 'auth_password_reset' %}">Forgot password?</a>
        </p>

        <button class="primaryAction btn btn-primary" type="submit">Login</button>
      </form>
    </div>
  </div>

{% endblock %}
