{% extends 'base.html' %}

{% block head_title %}Password Reset{% endblock %}

{% load bootstrap %}
{% block content %}
  <div class="page-header">
    <h2>Password reset</h2>
    <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
  </div>

  <div class="row">
    <div class="col-md-6">
      <form class="login" method="POST" action="">
        {% csrf_token %}

        {{ form|bootstrap }}

        <button class="primaryAction btn btn-primary" type="submit">Reset my password</button>
      </form>
    </div>
  </div>
{% endblock %}
