{% extends "registration/base.html" %}

{% block head_title %}Change Password{% endblock %}

{% block content %}
<div class="page-header">
<h2>Change password</h2>
Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.
</div>
        <form method="post" action=".">
                {% csrf_token %}
          <input id="old_password" class="form-control" name="old_password" placeholder="old password"
                 type="password"/>{{ form.old_password.errors }}
          <br>
          <input id="new_password1" class="form-control" name="new_password1" placeholder="new password"
                 type="password"/>{{ form.new_password1.errors }}
          <input id="new_password2" class="form-control" name="new_password2" placeholder="confirm new password"
                 type="password"/>{{ form.new_password2.errors }}

          <br>
          <br>
          <button class="primaryAction btn btn-primary" type="submit" value="Submit">Change my password</button>
        </form>
{% endblock %}