{% extends 'registration/base.html' %}
{% block head_title %}Password Reset{% endblock %}

{% block content %}
  <div class="page-header">
  <h1>Password reset</h1>
  Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
  </div>
  <form class="login" method="POST" action="">
    {% csrf_token %}

    <div class="row">
      <div class="col-md-6">
        <input id="email" class="form-control" name="email" placeholder="someone@example.com" 
               type="email"> {{ form.email.errors }}
        <br>
        <br>
      {{ form.non_field_errors }}
      <button class="primaryAction btn btn-primary" type="submit">Reset my password</button>
      </div>
    </div>

  </form>
{% endblock %}