{% extends "base.html" %}

{% block head_title %}Change password{% endblock %}

{% load bootstrap %}
{% block content %}
  <div class="page-header">
    <h2>Change password</h2>
    <p>
      Please enter your old password, for security's sake, and then enter your
      new password twice so we can verify you typed it in correctly.
    </p>
  </div>

  <div class="row">
    <div class="col-md-6">
      <form method="post" action=".">
        {% csrf_token %}

        {{ form|bootstrap }}

        <button class="primaryAction btn btn-primary" type="submit" value="Submit">Change my password</button>
      </form>
    </div>
  </div>
{% endblock %}
