{% extends "registration/base.html" %}

{% block head_title %}Choose new password{% endblock %}

{% load bootstrap %}
{% block content %}
  <div class="page-header">
    <h2>Choose new password</h2>
    <p>
      Please enter your new password.
    </p>
  </div>

  <div class="row">
    <div class="col-md-6">
      <form method="post" action=".">
        {% csrf_token %}

        {{ form|bootstrap }}

        <button class="primaryAction btn btn-primary" type="submit" value="Submit">Change my password</button>
      </form>
    </div>
  </div>
{% endblock %}
