{% extends 'base.html' %}

{% block head_title %}Register{% endblock %}

{% load bootstrap %}
{% block content %}
  <div class="page-header">
    <h2>Register</h2>
    <p>Already have an account? <a href="{% url 'auth_login' %}">Login.</a></p>
  </div>

  <div class="row">
    <div class="col-md-6">
      <form class="signup" method="POST" action="">
        {% csrf_token %}

        {{ form|bootstrap }}

        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}

        <button class="primaryAction btn btn-primary" type="submit">Register</button>
      </form>
    </div>
  </div>

{% endblock %}
