{% extends 'base.html' %}

{% load staticfiles %} <!-- New line -->

{% block head_title %}Dashboard{% endblock head_title %}

{% block body %}

  {% if reviews %}
    <div class="page-header">
      <h2>
        <span>Your reviews</span>
        <a class="btn btn-primary pull-right" href={% url 'create' %}>
          Create a new review
        </a>
      </h2>
    </div>

    {% for review in reviews %}
      <div class="panel panel-title
      {% if review.completed %}
      panel-success
      {% else %}
      panel-primary
      {% endif %}
      ">
        <div class="panel-heading">
          <a href="/review/">{{ review.title }}</a>
          {% if review.completed %}
            <span class="label label-success pull-right">COMPLETED</span>
          {% else %}
            <span class="label label-primary pull-right">IN PROGRESS</span>
          {% endif %}
        </div>

        <div class="panel-body">{{ review.description }}</div>

        <ul class="list-group">

          <li class="list-group-item">

            <div class="col-md-3 col-xs-3">
              <div class="text-center">
                <h3>{{ review.abstract_pool_size }}</h3>
                abstract pool
              </div>
            </div>

            <div class="col-md-3 col-xs-3">
              <div class="text-center">
                <h3>{{ review.document_pool_size }}</h3>
                document pool
              </div>
            </div>

            <div class="col-md-3 col-xs-3">
              <div class="text-center">
                <h3>{{ review.final_pool_size }}</h3>
                final pool
              </div>
            </div>

            <div class="col-md-3 col-xs-3">
              <div class="text-center">
                <h3><span class="glyphicon glyphicon-time"></span></h3>
                {{ review.last_modified }}
              </div>
            </div>

            <div class="clearfix"></div>
          </li>
        </ul>

      </div>
      <br>
    {% endfor %}
  {% else %}
    <div class="text-center">
      <h1>Welcome, <b>{{ user.username }}</b>!</h1><br>
      <h4>To get started,
        <a class="btn btn-primary btn-lg" href={% url 'create' %}>
          create a new review
        </a>.
      </h4>
    </div>
  {% endif %}

{% endblock body %}