{% extends 'base.html' %}

{% block head_title %}
  {{ title }}
{% endblock %}

{% block body %}


  <div class="page-header">
    <h2>{{ paper.review.title }}</h2>

    <nav>
      <a class="btn btn-info" href="{{ review.get_absolute_url }}" style="margin: 10px 0;">
        <span class="glyphicon glyphicon-arrow-left"></span>
        Back to review
      </a>
    </nav>
  </div>

  <div class="progress progress-paper">
    <div class="progress-bar progress-bar-warning progress-bar-paper" data-toggle="tooltip" title="Abstract pool ({{ count.abstract }} papers)"
         style="width: {{ percent.abstract }}%;">
      <span class="glyphicon glyphicon-file progress-bar-paper-icon"></span> {{ count.abstract }}
    </div>
    <div class="progress-bar progress-bar-info progress-bar-paper" data-toggle="tooltip" title="Document pool ({{ count.document }} papers)"
         style="width: {{ percent.document }}%;">
      <span class="glyphicon glyphicon-file progress-bar-paper-icon"></span> {{ count.document }}
    </div>
    <div class="progress-bar progress-bar-success progress-bar-paper" data-toggle="tooltip" title="Final pool ({{ count.final }} papers)"
         style="width: {{ percent.final }}%;">
      <span class="glyphicon glyphicon-file progress-bar-paper-icon"></span> {{ count.final }}
    </div>
    <div class="progress-bar progress-bar-danger progress-bar-paper" data-toggle="tooltip" title="Rejected pool ({{ count.rejected }} papers)"
         style="width: {{ percent.rejected }}%;">
      <span class="glyphicon glyphicon-file progress-bar-paper-icon"></span> {{ count.rejected }}
    </div>
  </div>



  <h3>{{ title }}</h3>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        {{ paper.title }}

        {% if paper.pool in to_embed_full %}
          <nav class="pull-right">
            <a href="{{ paper.url }}" target="_blank" class="btn btn-default"><span
                class="glyphicon glyphicon-link"></span> Open in new tab</a>
          </nav>
        {% endif %}
      </h2>
      <span>({{ paper.authors }} - Published {{ paper.publish_date }})</span>
    </div>

    <div class="panel-body">
      {% if paper.pool in to_embed_full %}
        <div id="external" class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" src="{{ paper.url }}"></iframe>
        </div>
      {% else %}
        {{ paper.abstract|linebreaks }}
      {% endif %}
    </div>

    {% if paper.pool in to_judge %}
      <div class="panel-footer" id="relevancy-buttons">
        <div class="text-center">
          <p>Is this paper relevant to the review?</p>
          <div class="btn-group" role="group">
            <a href="yes" class="btn btn-default btn-lg"><span
                class="glyphicon glyphicon-thumbs-up   color-green"></span> Yes</a>
            <a href="no" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-thumbs-down color-red"></span>
              No</a>
            <a href="{{ paper.review.get_absolute_url }}/work" class="btn btn-default btn-lg"><span
                class="glyphicon glyphicon-question-sign"></span> Not sure</a>
          </div>
        </div>
      </div>
    {% endif %}
  </div>

  <div class="pull-right">
  <div class="panel panel-default color-grey" id="keyboard-shortcuts">
    <div class="panel-heading">
      Keyboard shortcuts
    </div>
    <ul class="list-group">
      <li class="list-group-item">Alt + Y = Yes</li>
      <li class="list-group-item">Alt + N = No</li>
      <li class="list-group-item">Alt + ? = Not sure</li>
    </ul>
  </div>
  </div>
{% endblock body %}

{# TODO: move js to separate file #}
{% block extra_body %}
  {% if paper.pool in to_judge %}
    <script type="text/javascript">
      function keyUp(e) {
        if (e.altKey && e.keyCode == 89) {
          window.location.href = "yes";
        } else if (e.altKey && e.keyCode == 78) {
          window.location.href = "no";
        } else if (e.altKey && e.keyCode == 191) {
          window.location.href = "{{ paper.review.get_absolute_url }}/work";
        }
      }
      document.addEventListener('keyup', keyUp, false);
    </script>
  {% endif %}
{% endblock extra_body %}