{% extends 'base.html' %}

{% block head_title %}{{ title }}{% endblock %}

{% block body %}
  <a class="btn btn-info" href="/review/{{ review.pk }}-{{ review.slug }}">
    <span class="glyphicon glyphicon-arrow-left"></span>
    Back to review
  </a>

  <div class="page-header">
    <h2>
      {{ paper.review.title }}
    </h2>
  </div>

  <h3>
    {{ title }}
  </h3>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        {{ paper.title }}
        <nav class="pull-right">
        {% if paper.pool in to_embed_full %}
          <a href="{{ paper.url }}" target="_blank" class="btn btn-default"><span class="glyphicon glyphicon-link"></span> Open in new tab/window</a>
        {% else %}
          <a id="reading" class="btn btn-default"><span class="glyphicon glyphicon-sunglasses"></span> Reading aid</a>
        {% endif %}
        </nav>
      </h2>
      <span>({{ paper.authors }} - Published {{ paper.publish_date }})</span>
    </div>

    <div class="panel-body">
      {% if paper.pool in to_embed_full %}
        <div id="external" class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" src="{{ paper.url }}"></iframe>
        </div>
      {% else %}
        {{ paper.abstract|linebreaks }}
      {% endif %}
    </div>

    {% if paper.pool in to_judge %}
    <div class="panel-footer text-center">
      <p>Is this paper relevant to the review?</p>
      <div class="btn-group" role="group">
        <!-- TODO: Do something -->
        <button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-thumbs-up color-green"></span> Yes</button>
        <button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-thumbs-down color-red"></span> No</button>
      </div>
    </div>
    {% endif %}
  </div>

  <div class="progress progress-paper">
    <!-- TODO: avoid inline CSS -->
    <div class="progress-bar progress-bar-warning progress-bar-paper" data-toggle="tooltip" title="Abstract pool"
         style="width: {{ percent.abstract }}%">
      <span class="glyphicon glyphicon-file progress-bar-paper-icon"></span> {{ count.abstract }}
    </div>
    <div class="progress-bar progress-bar-info progress-bar-paper" data-toggle="tooltip" title="Document pool"
         style="width: {{ percent.document }}%">
      <span class="glyphicon glyphicon-file progress-bar-paper-icon"></span> {{ count.document }}
    </div>
    <div class="progress-bar progress-bar-success progress-bar-paper" data-toggle="tooltip" title="Final pool"
         style="width: {{ percent.final }}%">
      <span class="glyphicon glyphicon-file progress-bar-paper-icon"></span> {{ count.final }}
    </div>
    <div class="progress-bar progress-bar-danger progress-bar-paper" data-toggle="tooltip" title="Rejected pool"
         style="width: {{ percent.rejected }}%">
      <span class="glyphicon glyphicon-file progress-bar-paper-icon"></span> {{ count.rejected }}
    </div>
  </div>
{% endblock body %}