{% extends 'registration/base.html' %}

{% block head_title %}My Profile{% endblock %}

{% load bootstrap %}
{% block content %}
  <div class="page-header">
    <h2>My profile</h2>
    <p>Update your email address, or <a href="{% url 'password_change' %}">change your password.</a></p>
  </div>

  <div class="row">
    <div class="col-md-6">
      <form class="manage" method="POST" action="">
        {% csrf_token %}

        {{ form|bootstrap }}

        <button class="primaryAction btn btn-primary" type="submit">Save email address</button>
      </form>
    </div>
  </div>
{% endblock %}
