{% extends 'base.html' %}

{% load staticfiles %}

{% block head_title %}
  My reviews
{% endblock head_title %}

{% block body %}
  {% if reviews %}
    <div class="page-header">
      <h2>
        <span>My reviews</span>
        <a class="btn btn-primary pull-right" href={% url 'review_create' %}>
          Create a new review
        </a>
      </h2>
    </div>

    {% for review in reviews %}
      <div class="panel panel-title
      {% if review.review.completed %}
      panel-success
      {% else %}
      panel-primary
      {% endif %}
      ">

        <div class="panel-heading">
          <a href="{{ review.review.get_absolute_url }}">{{ review.review.title }}</a>
          {% if review.review.completed %}
            <span class="label label-success pull-right">COMPLETED</span>
          {% else %}
            <span class="label label-primary pull-right">IN PROGRESS</span>
          {% endif %}
        </div>

        <div class="progress progress-paper progress-square">
          <!-- TODO: avoid inline CSS -->
          <div class="progress-bar progress-bar-warning progress-bar-paper" data-toggle="tooltip"
               title="Abstract pool"
               style="width: {{ review.percent.abstract }}%">
            <span class="glyphicon glyphicon-file progress-bar-paper-icon"></span> {{ review.count.abstract }}
          </div>
          <div class="progress-bar progress-bar-info progress-bar-paper" data-toggle="tooltip" title="Document pool"
               style="width: {{ review.percent.document }}%">
            <span class="glyphicon glyphicon-file progress-bar-paper-icon"></span> {{ review.count.document }}
          </div>
          <div class="progress-bar progress-bar-success progress-bar-paper" data-toggle="tooltip" title="Final pool"
               style="width: {{ review.percent.final }}%">
            <span class="glyphicon glyphicon-file progress-bar-paper-icon"></span> {{ review.count.final }}
          </div>
          <div class="progress-bar progress-bar-danger progress-bar-paper" data-toggle="tooltip" title="Rejected pool"
               style="width: {{ review.percent.rejected }}%">
            <span class="glyphicon glyphicon-file progress-bar-paper-icon"></span> {{ review.count.rejected }}
          </div>
        </div>

        <div class="panel-body">{{ review.review.description }}</div>

        {% if not review.review.completed %}
        <div class="progress review-progress progress-square">
          <div class="progress-bar progress-bar-default"
               style="width: {{ review.percent.progress }}%">
            <div class="pull-right progress-percentage">{{ review.percent.progress|floatformat:0 }}%</div>
          </div>
        </div>
        {% endif %}
      </div>
      <br>
      <br>
      <br>
    {% endfor %}



  {% else %} <!-- New user: no reviews yet -->
    <div class="text-center">
      <h1>Welcome, <strong>{{ user.username }}</strong>!</h1><br>
      <h4>To get started,
        <a class="btn btn-primary btn-lg" href={% url 'review_create' %}>
          create a new review
        </a>.
      </h4>
    </div>
  {% endif %}

{% endblock body %}
