{% extends 'base.html' %}

{% block head_title %}{{ review.title }}{% endblock %}

{% block body %}
  <a class="btn btn-info" href="{% url "index" %}">
    <span class="glyphicon glyphicon-arrow-left"></span>
    Back to my reviews
  </a>
  <div class="vertical-divider"></div>
  <a class="btn btn-info"   href="{% url 'review_update' review.pk %}">Edit this review</a>

  <div class="page-header">
    <h2>{{ review.title }}</h2>
  </div>

  {% if review.completed %}
    <div class="alert alert-success" role="alert">
      <span class="glyphicon glyphicon-check"></span>
      This review was completed on {{ review.date_completed }}.
      <hr>
      <h3>Results <button type="button" class="btn btn-xs" data-toggle="collapse" data-target="#results">Show/hide</button></h3>
      <div id="results" class="row collapse">
        <div class="col-md-6">
        <h4>Final pool</h4>
          <div class="list-group">
            {% for paper in final_papers %}
              <a href="/review/{{ review.pk }}-{{ review.slug }}/{{ paper.pk }}/" class="list-group-item"><span class="glyphicon glyphicon-file"></span> {{ paper.title }}</a>
            {% endfor %}
          </div>
        </div>
        <div class="col-md-6">
        <h4>Rejected pool</h4>
          <div class="list-group">
            {% for paper in rejected_papers %}
              <a href="/review/{{ review.pk }}-{{ review.slug }}/{{ paper.pk }}/" class="list-group-item"><span class="glyphicon glyphicon-file"></span> {{ paper.title }}</a>
            {% endfor %}
          </div>
        </div>
      </div>

    </div>
  {% else %}
  <a class="btn btn-primary" href="/review/{{ review.pk }}-{{ review.slug }}/work/">Work on this review</a>
  {% endif %}
  

  <h3>Description</h3>
  <div class="panel panel-default">
    <div class="panel-body">
      {{ review.description }}
    </div>
  </div>

  <h3>Pools</h3>
  <div class="progress progress-paper">
    <!-- TODO: avoid inline CSS -->
    <div class="progress-bar progress-bar-warning progress-bar-paper" data-toggle="tooltip" title="Abstract pool"
         style="width: {{ percent.abstract }}%">
      <span class="glyphicon glyphicon-file progress-bar-paper-icon"></span> {{ count.abstract }}
    </div>
    <div class="progress-bar progress-bar-info progress-bar-paper" data-toggle="tooltip" title="Document pool"
         style="width: {{ percent.document }}%">
      <span class="glyphicon glyphicon-file progress-bar-paper-icon"></span> {{ count.document }}
    </div>
    <div class="progress-bar progress-bar-success progress-bar-paper" data-toggle="tooltip" title="Final pool"
         style="width: {{ percent.final }}%">
      <span class="glyphicon glyphicon-file progress-bar-paper-icon"></span> {{ count.final }}
    </div>
    <div class="progress-bar progress-bar-danger progress-bar-paper" data-toggle="tooltip" title="Rejected pool"
         style="width: {{ percent.rejected }}%">
      <span class="glyphicon glyphicon-file progress-bar-paper-icon"></span> {{ count.rejected }}
    </div>
  </div>

  <h3>Participants</h3>
  <ul class="list-group">
    {% for participant in review.participants.all %}
      <li class="list-group-item"><strong>{{ participant }}</strong>
        <span class="color-grey">({{ participant.email }})</span>
        {% if participant == user %}
          <span class="color-grey">(you)</span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <h3>Query</h3>
  <pre>{{ review.query }}</pre>
{% endblock body %}
