{% extends 'base.html' %}

{% block head_title %}
  {{ review.title }}
{% endblock %}

{% block body %}
  <div class="page-header">
    <h2>{{ review.title }}</h2>

    <nav>
      <a class="btn btn-default" href="{% url 'review_list' %}">
        <span class="glyphicon glyphicon-arrow-left"></span> Back to my reviews
      </a>

      {% if not review.completed %}
        <div class="vertical-divider"></div>
        <a class="btn btn-primary" href="{{ review.get_absolute_url }}/work">
          Work on this review
        </a>

        <div class="vertical-divider"></div>
        <a class="btn btn-info" href="{{ review.get_absolute_url }}/edit">
          <span class="glyphicon glyphicon-pencil"></span>&nbsp;
          Edit this review
        </a>
      {% else %}
        <div class="vertical-divider"></div>
        <a href="{{ review.get_absolute_url }}/delete" class="btn btn-danger">
          <span class="glyphicon glyphicon-trash"></span> Delete this review
        </a>
      {% endif %}
    </nav>
  </div>

  {% if review.completed %}
    <div class="alert alert-success" role="alert">
      <span class="glyphicon glyphicon-check"></span>
      This review was completed on {{ review.date_completed }}.
    </div>
  {% endif %}

  {% if not review.completed %}
    <div class="progress review-progress">
      <div class="progress-bar progress-bar-default"
           style="width: {{ percent.progress }}%"
           data-toggle="tooltip" title="{{ count.remaining }} papers remaining">
        <div class="pull-right progress-percentage">{{ percent.progress|floatformat:0 }}%</div>
      </div>
    </div>
  {% endif %}

  <h3>Description</h3>
  <div class="panel panel-default">
    <div class="panel-body">
      {{ review.description }}
    </div>
  </div>

  <h3>
    Papers
    <button type="button" class="btn btn-xs" data-toggle="collapse" data-target="#paper-list">
      <span class="glyphicon glyphicon-chevron-down collapse-button"></span>
    </button>
  </h3>
  {% if count.total > 0 %}
    <div class="progress progress-paper">
      <div class="progress-bar progress-bar-warning progress-bar-paper" data-toggle="tooltip"
           title="Abstract pool ({{ count.abstract }} papers)"
           style="width: {{ percent.abstract }}%;">
        <span class="glyphicon glyphicon-file progress-bar-paper-icon"></span> {{ count.abstract }}
      </div>
      <div class="progress-bar progress-bar-info progress-bar-paper" data-toggle="tooltip"
           title="Document pool ({{ count.document }} papers)"
           style="width: {{ percent.document }}%;">
        <span class="glyphicon glyphicon-file progress-bar-paper-icon"></span> {{ count.document }}
      </div>
      <div class="progress-bar progress-bar-success progress-bar-paper" data-toggle="tooltip"
           title="Final pool ({{ count.final }} papers)"
           style="width: {{ percent.final }}%;">
        <span class="glyphicon glyphicon-file progress-bar-paper-icon"></span> {{ count.final }}
      </div>
      <div class="progress-bar progress-bar-danger progress-bar-paper" data-toggle="tooltip"
           title="Rejected pool ({{ count.rejected }} papers)"
           style="width: {{ percent.rejected }}%;">
        <span class="glyphicon glyphicon-file progress-bar-paper-icon"></span> {{ count.rejected }}
      </div>
    </div>

    <div id="paper-list" class="row collapse">
      {% if abstract_papers %}
      <div class="col-md-6">
        <h4>Abstract pool</h4>
        <div class="list-group">
          {% for paper in abstract_papers %}
            <a href="{{ paper.get_absolute_url }}" target="blank" class="list-group-item list-group-item-warning">
              <span class="glyphicon glyphicon-file"></span> {{ paper.title }}
            </a>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      {% if document_papers %}
      <div class="col-md-6">
        <h4>Document pool</h4>
        <div class="list-group">
          {% for paper in document_papers %}
            <a href="{{ paper.get_absolute_url }}" target="blank" class="list-group-item list-group-item-info">
              <span class="glyphicon glyphicon-file"></span> {{ paper.title }}
            </a>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      {% if final_papers %}
      <div class="col-md-6">
        <h4>Final pool</h4>
        <div class="list-group">
          {% for paper in final_papers %}
            <a href="{{ paper.get_absolute_url }}" target="blank" class="list-group-item list-group-item-success">
              <span class="glyphicon glyphicon-file"></span> {{ paper.title }}
            </a>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      {% if rejected_papers %}
      <div class="col-md-6">
        <h4>Rejected pool</h4>
        <div class="list-group">
          {% for paper in rejected_papers %}
            <a href="{{ paper.get_absolute_url }}" target="blank" class="list-group-item list-group-item-danger">
              <span class="glyphicon glyphicon-file"></span> {{ paper.title }}
            </a>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      <div class="col-md-12">
        <a href="{{ review.get_absolute_url }}/dl">Download as list</a>
      </div>
    </div>
  {% else %}
    <p>No papers found</p>
  {% endif %}

  <h3>Participants</h3>
  <ul class="list-group">
    {% for participant in review.participants.all %}
      <li class="list-group-item"><strong>{{ participant }}</strong>
        <span class="color-grey">({{ participant.email }})</span>
        {% if participant == user %}
          <span class="color-grey">(you)</span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <h3>Query</h3>
  <pre>{{ review.query }}</pre>
{% endblock body %}
