{% extends 'base.html' %}

{% load staticfiles %}

{% block head_title %}My reviews{% endblock head_title %}

{% block body %}
  {% if reviews %}
    <div class="page-header">
      <h2>
        <span>My reviews</span>
        <a class="btn btn-primary pull-right" href={% url 'create' %}>
          Create a new review
        </a>
      </h2>
    </div>

    {% for review in reviews %}
      <div class="panel panel-title
      {% if review.review.completed %}
      panel-success
      {% else %}
      panel-primary
      {% endif %}
      ">

        <div class="panel-heading">
          <a href="/review/{{ review.review.pk}}-{{ review.review.slug }}">{{ review.review.title }}</a>
          {% if review.review.completed %}
            <span class="label label-success pull-right">COMPLETED</span>
          {% else %}
            <span class="label label-primary pull-right">IN PROGRESS</span>
          {% endif %}
        </div>

        <div class="panel-body">{{ review.review.description }}</div>

        <ul class="list-group">

          <li class="list-group-item">
            <div class="progress">
              <!-- TODO: avoid inline CSS -->
              <div class="progress-bar progress-bar-success" title="Final pool" style="width: {{ review.final }}%">
                {{ review.review.final_pool_size }}
              </div>
              <div class="progress-bar progress-bar-info" title="Document pool" style="width: {{ review.document }}%">
                {{ review.review.document_pool_size }}
              </div>
              <div class="progress-bar progress-bar-warning" title="Abstract pool" style="width: {{ review.abstract }}%">
                {{ review.review.abstract_pool_size }}
              </div>
              <div class="progress-bar progress-bar-danger" title="Rejected pool" style="width: {{ review.rejected }}%">
                {{ review.review.rejected_pool_size }}
              </div>
            </div>
          </li>

          <li class="list-group-item">

            <div class="col-md-3 col-xs-3">
              <div class="text-center">
                <h3>{{ review.review.abstract_pool_size }}</h3>
                abstract pool
              </div>
            </div>

            <div class="col-md-3 col-xs-3">
              <div class="text-center">
                <h3>{{ review.review.document_pool_size }}</h3>
                document pool
              </div>
            </div>

            <div class="col-md-3 col-xs-3">
              <div class="text-center">
                <h3>{{ review.review.final_pool_size }}</h3>
                final pool
              </div>
            </div>

            <div class="col-md-3 col-xs-3">
              <div class="text-center">
                <h3><span class="glyphicon glyphicon-time"></span></h3>
                {{ review.review.last_modified }}
              </div>
            </div>

            <div class="clearfix"></div>
          </li>
        </ul>

      </div>
      <br>
    {% endfor %}



  {% else %} <!-- New user: no reviews yet -->
    <div class="text-center">
      <h1>Welcome, <strong>{{ user.username }}</strong>!</h1><br>
      <h4>To get started,
        <a class="btn btn-primary btn-lg" href={% url 'create' %}>
          create a new review
        </a>.
      </h4>
    </div>
  {% endif %}

{% endblock body %}
